.cta-button {
    margin-left: 20px;
}


h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1.1rem;
    font-weight: bold;
}



footer {
    font-size: 1rem;
  }
  
  footer a {
    margin-left: 15px;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ff6f61;
  }
  